{% extends "AppBundle:Layouts:layout.html.twig" %}

{% block content %}

    <div class="col-sm-offset-2 col-lg-6 box-form">
        <h2>Register</h2>
        <hr>
        {{ form_start(form, {'action':'', 'method':'POST'}) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascript_content %}
    {{ parent() }}
    <script src="{{ asset('assets/js/custom/nick-test.js') }}"></script>
{% endblock %}